*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navbar ul li a{
    color: black;
    text-decoration: none;
    font-size: 25px;
}
.navbar ul li{
    display: inline-block;
    color: black;
    margin: 10px;
}
.navbar ul li input{
    width: 700px;
    padding: 12px;
    border-radius: 8px;
    margin-top: 10px;
}
.navbar ul li i{
    font-size: 25px;
}
.navbar ul li button{
   border-radius: 5px;
   padding: 10px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navbar ul li img{
    width: 150px;
    height: 60px;
}
.slide{
    height: 500px;
}
.mySwiper{
    width: 100%;
    height: 100%;
    /* color: rgb(237, 5, 5); */
    /* background-color: black; */
}
.mySwiper img{
    width: 100%;
    height: 100%;
}

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
.navbar ul li input{
   display: none;
}
.navbar ul li button{
    display: none;
}
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
.navbar ul li input{
   display: none;
}
.navbar ul li button{
    display: none;
}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
.navbar ul li input{
   display: block;
}
.navbar ul li input{
   width: 200px;
}
.navbar ul li button{
    display: block;
}
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
.navbar ul li input{
   display: block;
}
.navbar ul li input{
   width: 400px;
}
.navbar ul li button{
    display: block;
}
}
/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1300px) { 

}
.box-left {
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.box-left ul li a{
    text-decoration: none;
    color: rgb(29, 25, 25);
    position: relative;
    right: 50px;
}
.box-left ul li{
    margin: 15px;
    list-style-type: none;
}
.box-left ul li i{
    margin: 5px;

}
.box-right{
    height: 500px;
}
.box-on{
    height: 245px;
    /* background-color: antiquewhite; */
}
.box-under{
    height: 245px;
    /* background-color: aquamarine; */
    margin-top: 10px;
}
.box-on img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.box-under img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.sale{
    height: 200px;
    width: 170px;
    /* background-color: khaki; */
    padding: 8px;
}
.box-img{
    width: 100%;
    height: 80%;
    background-color: magenta;
    border-radius: 50%;
}
.box-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.box-text{
    width: 100%;
    height: 20%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.sale:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}
.card {
    border-radius: 5px;
}
.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}
.under-text .card-text p{
    color: black;
    font-size: 20px;
}
.under-text img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.under-text:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}
.footer{
    height: 300px;
}
.footer img{
    width: 200px;
    height: 100px;
    margin-top: 20px;
    border: 2px solid white;
}
.footer h5,p{
    position: relative;
    top: 30px;
    color: white;
}
.form-input{
    margin-top: 40px;
    width: 250px;
    height: 40px;
    border-radius: 8px;
    background-color: white;
    display: flex;
}
.form-input input{
    border: none;
    background: none;
    outline: none;
    margin-left: 30px;
}
.form-input i{
    color: rgb(64, 42, 42);
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 20px;
}
.form-input .btn{
    top: -3px;
    position: relative;
    margin-left: 25px;
    height: 40px;
}
.icon{
    position: relative;
    top: 20px;
    width: 40px;
    height: 40px;
    /* background-color: red; */
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    transition: 0.3s;
}
.icon:hover{
    background-color: brown;
}
